<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<!-- Deployment Descriptor for the Tester Web Application -->

<web-app>

    <!-- ========== Filter Definitions ==================================== -->

    <filter>
        <filter-name>GenericFilter</filter-name>
        <filter-class>org.apache.tester.WrapperFilter</filter-class>
        <init-param>
            <param-name>request</param-name>
            <param-value>generic</param-value>
        </init-param>
        <init-param>
            <param-name>response</param-name>
            <param-value>generic</param-value>
        </init-param>
    </filter>


    <filter>
        <filter-name>HttpFilter</filter-name>
        <filter-class>org.apache.tester.WrapperFilter</filter-class>
        <init-param>
            <param-name>request</param-name>
            <param-value>http</param-value>
        </init-param>
        <init-param>
            <param-name>response</param-name>
            <param-value>http</param-value>
        </init-param>
    </filter>


    <!-- ========== Filter Mappings ======================================= -->

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedAggregate01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedAggregate02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedDecoding01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage03</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage04</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage05</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedErrorPage06</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedForward01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedGetHeaders01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedGetInputStream01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedGetParameter01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedGetParameterMap00</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedGetQueryString01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedGolden01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedInclude01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedInclude02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedJndi01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedJndi02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedReset01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedResources01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedResources02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedResources03</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedResources04</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedResources05</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedSession01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedSession02</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedSession03</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedSession04</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedSetBufferSize01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GenericFilter</filter-name>
        <url-pattern>/WrappedSetLocale01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedXerces00</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedXerces01</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpFilter</filter-name>
        <url-pattern>/WrappedXerces02</url-pattern>
    </filter-mapping>


    <!-- ========== Servlet Definitions =================================== -->

    <servlet>
        <servlet-name>Aggregate01</servlet-name>
        <servlet-class>org.apache.tester.Aggregate01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Aggregate02</servlet-name>
        <servlet-class>org.apache.tester.Aggregate02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Authentication01</servlet-name>
        <servlet-class>org.apache.tester.Authentication01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Authentication02</servlet-name>
        <servlet-class>org.apache.tester.Authentication02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Authentication03</servlet-name>
        <servlet-class>org.apache.tester.Authentication03</servlet-class>
        <security-role-ref>
            <role-name>alias</role-name>
            <role-link>tomcat</role-link>
        </security-role-ref>
    </servlet>

    <servlet>
        <servlet-name>Decoding01</servlet-name>
        <servlet-class>org.apache.tester.Decoding01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage01</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage02</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage03</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage03</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage04</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage04</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage05</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage05</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorPage06</servlet-name>
        <servlet-class>org.apache.tester.ErrorPage06</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Forward01</servlet-name>
        <servlet-class>org.apache.tester.Forward01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetHeaders01</servlet-name>
        <servlet-class>org.apache.tester.GetHeaders01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetInputStream01</servlet-name>
        <servlet-class>org.apache.tester.GetInputStream01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetParameter01</servlet-name>
        <servlet-class>org.apache.tester.GetParameter01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetParameterMap00</servlet-name>
        <servlet-class>org.apache.tester.GetParameterMap00</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetQueryString01</servlet-name>
        <servlet-class>org.apache.tester.GetQueryString01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Golden01</servlet-name>
        <servlet-class>org.apache.tester.Golden01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Include01</servlet-name>
        <servlet-class>org.apache.tester.Include01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Include02</servlet-name>
        <servlet-class>org.apache.tester.Include02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Include02a</servlet-name>
        <servlet-class>org.apache.tester.Include02a</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Jndi01</servlet-name>
        <servlet-class>org.apache.tester.Jndi01</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Jndi02</servlet-name>
        <servlet-class>org.apache.tester.Jndi02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Reset01</servlet-name>
        <servlet-class>org.apache.tester.Reset01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Resources01</servlet-name>
        <servlet-class>org.apache.tester.Resources01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Resources02</servlet-name>
        <servlet-class>org.apache.tester.Resources02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Resources03</servlet-name>
        <servlet-class>org.apache.tester.Resources03</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Resources04</servlet-name>
        <servlet-class>org.apache.tester.Resources04</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Resources05</servlet-name>
        <servlet-class>org.apache.tester.Resources05</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Session01</servlet-name>
        <servlet-class>org.apache.tester.Session01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Session02</servlet-name>
        <servlet-class>org.apache.tester.Session02</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Session03</servlet-name>
        <servlet-class>org.apache.tester.Session03</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Session04</servlet-name>
        <servlet-class>org.apache.tester.Session04</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SetBufferSize01</servlet-name>
        <servlet-class>org.apache.tester.SetBufferSize01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SetLocale01</servlet-name>
        <servlet-class>org.apache.tester.SetLocale01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Xerces00</servlet-name>
        <jsp-file>/Xerces00.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Xerces01</servlet-name>
        <servlet-class>org.apache.tester.Xerces01</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Xerces02</servlet-name>
        <jsp-file>/Xerces02.jsp</jsp-file>
    </servlet>


    <!-- ========== Servlet Mappings ====================================== -->

    <servlet-mapping>
        <servlet-name>Aggregate01</servlet-name>
        <url-pattern>/Aggregate01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Aggregate01</servlet-name>
        <url-pattern>/WrappedAggregate01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Aggregate02</servlet-name>
        <url-pattern>/Aggregate02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Aggregate02</servlet-name>
        <url-pattern>/WrappedAggregate02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Authentication01</servlet-name>
        <url-pattern>/protected/Authentication01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Authentication02</servlet-name>
        <url-pattern>/protected/Authentication02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Authentication03</servlet-name>
        <url-pattern>/protected/Authentication03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Decoding01</servlet-name>
        <url-pattern>/Decoding01/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Decoding01</servlet-name>
        <url-pattern>/WrappedDecoding01/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage01</servlet-name>
        <url-pattern>/ErrorPage01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage01</servlet-name>
        <url-pattern>/WrappedErrorPage01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage02</servlet-name>
        <url-pattern>/ErrorPage02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage02</servlet-name>
        <url-pattern>/WrappedErrorPage02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage03</servlet-name>
        <url-pattern>/ErrorPage03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage03</servlet-name>
        <url-pattern>/WrappedErrorPage03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage04</servlet-name>
        <url-pattern>/ErrorPage04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage04</servlet-name>
        <url-pattern>/WrappedErrorPage04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage05</servlet-name>
        <url-pattern>/ErrorPage05</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage05</servlet-name>
        <url-pattern>/WrappedErrorPage05</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage06</servlet-name>
        <url-pattern>/ErrorPage06</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorPage06</servlet-name>
        <url-pattern>/WrappedErrorPage06</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Forward01</servlet-name>
        <url-pattern>/Forward01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Forward01</servlet-name>
        <url-pattern>/WrappedForward01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetHeaders01</servlet-name>
        <url-pattern>/GetHeaders01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetHeaders01</servlet-name>
        <url-pattern>/WrappedGetHeaders01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetInputStream01</servlet-name>
        <url-pattern>/GetInputStream01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetInputStream01</servlet-name>
        <url-pattern>/WrappedGetInputStream01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetParameter01</servlet-name>
        <url-pattern>/WrappedGetParameter01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetParameter01</servlet-name>
        <url-pattern>/GetParameter01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetParameter01</servlet-name>
        <url-pattern>/WrappedGetParameter01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetParameterMap00</servlet-name>
        <url-pattern>/GetParameterMap00</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetParameterMap00</servlet-name>
        <url-pattern>/WrappedGetParameterMap00</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetQueryString01</servlet-name>
        <url-pattern>/GetQueryString01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetQueryString01</servlet-name>
        <url-pattern>/WrappedGetQueryString01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Golden01</servlet-name>
        <url-pattern>/Golden01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Golden01</servlet-name>
        <url-pattern>/WrappedGolden01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include01</servlet-name>
        <url-pattern>/Include01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include01</servlet-name>
        <url-pattern>/WrappedInclude01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include02</servlet-name>
        <url-pattern>/Include02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include02</servlet-name>
        <url-pattern>/WrappedInclude02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include02a</servlet-name>
        <url-pattern>/Include02a</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Include02a</servlet-name>
        <url-pattern>/WrappedInclude02a</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jndi01</servlet-name>
        <url-pattern>/Jndi01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jndi01</servlet-name>
        <url-pattern>/WrappedJndi01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jndi02</servlet-name>
        <url-pattern>/Jndi02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jndi02</servlet-name>
        <url-pattern>/WrappedJndi02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Reset01</servlet-name>
        <url-pattern>/Reset01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Reset01</servlet-name>
        <url-pattern>/WrappedReset01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources01</servlet-name>
        <url-pattern>/Resources01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources01</servlet-name>
        <url-pattern>/WrappedResources01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources02</servlet-name>
        <url-pattern>/Resources02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources02</servlet-name>
        <url-pattern>/WrappedResources02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources03</servlet-name>
        <url-pattern>/Resources03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources03</servlet-name>
        <url-pattern>/WrappedResources03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources04</servlet-name>
        <url-pattern>/Resources04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources04</servlet-name>
        <url-pattern>/WrappedResources04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources05</servlet-name>
        <url-pattern>/Resources05</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Resources05</servlet-name>
        <url-pattern>/WrappedResources05</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session01</servlet-name>
        <url-pattern>/Session01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session01</servlet-name>
        <url-pattern>/WrappedSession01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session02</servlet-name>
        <url-pattern>/Session02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session02</servlet-name>
        <url-pattern>/WrappedSession02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session03</servlet-name>
        <url-pattern>/Session03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session03</servlet-name>
        <url-pattern>/WrappedSession03</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session04</servlet-name>
        <url-pattern>/Session04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Session04</servlet-name>
        <url-pattern>/WrappedSession04</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetBufferSize01</servlet-name>
        <url-pattern>/SetBufferSize01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetBufferSize01</servlet-name>
        <url-pattern>/WrappedSetBufferSize01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetLocale01</servlet-name>
        <url-pattern>/SetLocale01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SetLocale01</servlet-name>
        <url-pattern>/WrappedSetLocale01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces00</servlet-name>
        <url-pattern>/Xerces00</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces00</servlet-name>
        <url-pattern>/WrappedXerces00</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces01</servlet-name>
        <url-pattern>/Xerces01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces01</servlet-name>
        <url-pattern>/WrappedXerces01</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces02</servlet-name>
        <url-pattern>/Xerces02</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Xerces02</servlet-name>
        <url-pattern>/WrappedXerces02</url-pattern>
    </servlet-mapping>


    <!-- ========== Error Page Mappings =================================== -->

    <error-page>
        <error-code>412</error-code>  <!-- SC_PRECONDITION_FAILED -->
        <location>/ErrorPage02</location>
    </error-page>

    <error-page>
        <exception-type>org.apache.tester.TesterException</exception-type>
        <location>/ErrorPage04</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.ArithmeticException</exception-type>
        <location>/ErrorPage06</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
        <location>/ErrorPage06.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/ErrorPage06.html</location>
    </error-page>


    <!-- ========== Security Constraints ================================== -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authentication Servlet</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Authentication Servlet</realm-name>
    </login-config>

<!--
    <security-role>
        <description>Security role we are testing for</description>
        <role-name>tomcat</role-name>
    </security-role>
-->


    <!-- ========== Environment Entries =================================== -->

    <env-entry>
        <env-entry-name>booleanEntry</env-entry-name>
        <env-entry-value>true</env-entry-value>
        <env-entry-type>java.lang.Boolean</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>byteEntry</env-entry-name>
        <env-entry-value>123</env-entry-value>
        <env-entry-type>java.lang.Byte</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>doubleEntry</env-entry-name>
        <env-entry-value>123.45</env-entry-value>
        <env-entry-type>java.lang.Double</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>floatEntry</env-entry-name>
        <env-entry-value>54.32</env-entry-value>
        <env-entry-type>java.lang.Float</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>integerEntry</env-entry-name>
        <env-entry-value>12345</env-entry-value>
        <env-entry-type>java.lang.Integer</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>longEntry</env-entry-name>
        <env-entry-value>54321</env-entry-value>
        <env-entry-type>java.lang.Long</env-entry-type>
    </env-entry>

    <env-entry>
        <env-entry-name>stringEntry</env-entry-name>
        <env-entry-value>String Value</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>


</web-app>
