# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Tomcat
# for your local environment.  It defines the location of all external
# modules that Tomcat depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id$
# -----------------------------------------------------------------------------


# ----- Compile Control Flags -----
compile.debug=on
compile.deprecation=off
compile.optimize=on


# ----- Build Control Flags
#full.dist=on
#build.sysclasspath=ignore
#flags.hide=on


# ----- Default Base Path for Dependent Packages -----
base.path=/usr/local


# ----- Jakarta Tomcat Connectors path -----
jakarta-tomcat-connector.home=../../jakarta-tomcat-connectors


# ----- Tomcat Utils -----
tomcat-util.jar=../lib/tomcat-util.jar


# ----- JK 1.3 connector for Tomcat 4.0 -----
tomcat-ajp.jar=../lib/tomcat-ajp.jar


# ----- Commons Beanutils, version 1.1 or later -----
commons-beanutils.home=${base.path}/commons-beanutils-1.1
commons-beanutils.lib=${commons-beanutils.home}
commons-beanutils.jar=${commons-beanutils.lib}/commons-beanutils.jar


# ----- Commons Collections, version 1.0 or later -----
commons-collections.home=${base.path}/commons-collections-1.0
commons-collections.lib=${commons-collections.home}
commons-collections.jar=${commons-collections.lib}/commons-collections.jar


# ----- Commons Digester, version 1.1.1 or later -----
commons-digester.home=${base.path}/commons-digester-1.1.1
commons-digester.lib=${commons-digester.home}
commons-digester.jar=${commons-digester.lib}/commons-digester.jar


# ----- Commons Logging, version 0.1 or later -----
commons-logging.home=${base.path}/commons-logging-1.1.1
commons-logging.lib=${commons-logging.home}
commons-logging.jar=${commons-logging.lib}/commons-logging.jar


# ----- Commons Modeler, version 20011026 or later -----
commons-modeler.home=${base.path}/commons-modeler
commons-modeler.lib=${commons-modeler.home}
commons-modeler.jar=${commons-modeler.lib}/commons-modeler.jar


# ----- Jakarta Regular Expressions Library, version 1.2 -----
regexp.jar=../lib/jakarta-regexp-1.2.jar


# ----- Jakarta Servlet API Classes (Servlet 2.3 / JSP 1.2) -----
servlet.home=${base.path}/jakarta-servletapi-4
servlet.lib=${servlet.home}/lib
servlet.jar=${servlet.lib}/servlet.jar


# ----- Java Activation Framework (JAF), version 1.0.1 or later -----
activation.home=${base.path}/jaf-1.0.1
activation.lib=${activation.home}
activation.jar=${activation.lib}/activation.jar


# ----- Java API for XML Processing (JAXP), version 1.1 or later -----
jaxp.home=${base.path}/jaxp-1.1
jaxp.lib=${jaxp.home}
crimson.jar=${jaxp.lib}/crimson.jar
jaxp.jar=${jaxp.lib}/jaxp.jar
xalan.jar=${jaxp.lib}/xalan.jar


# ----- Java Database Connectivity (JDBC) Optional Package, version 2.0 -----
jdbc20ext.home=${base.path}/jdbc2_0-stdext
jdbc20ext.lib=${jdbc20ext.home}
jdbc20ext.jar=${jdbc20ext.lib}/jdbc2_0-stdext.jar


# ----- Java Mail, version 1.2 or later -----
mail.home=${base.path}/javamail-1.2
mail.lib=${mail.home}
mail.jar=${mail.lib}/mail.jar


# ----- Java Management Extensions (JMX), JMX RI 1.0.1 or later or OpenJMX 1.0b2 or later -----
jmx.home=${base.path}/openjmx
jmx.lib=${jmx.home}/lib
jmx.jar=${jmx.lib}/openjmx.jar


# ----- Java Naming and Directory Interface (JNDI), version 1.2 or later -----
jndi.home=${base.path}/jndi-1.2.1
jndi.lib=${jndi.home}/lib
jndi.jar=${jndi.lib}/jndi.jar
ldap.jar=${jndi.lib}/ldap.jar
jaas.jar=${jndi.lib}/jaas.jar


# ----- Java Secure Sockets Extension (JSSE), version 1.0.2 or later -----
jsse.home=${base.path}/jsse-1.0.2
jsse.lib=${jsse.home}/lib
jcert.jar=${jsse.lib}/jcert.jar
jnet.jar=${jsse.lib}/jnet.jar
jsse.jar=${jsse.lib}/jsse.jar


# ----- Java Transaction API (JTA), version 1.0.1 or later -----
jta.home=${base.path}/jta-spec1_0_1
jta.lib=${jta.home}
jta.jar=${jta.lib}/jta-spec1_0_1.jar


# ----- JUnit Unit Test Suite, version 3.7 or later -----
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar


# ----- Struts, version 1.0.1 or later -----
struts.home=${base.path}/jakarta-struts-1.0.1
struts.lib=${struts.home}/lib
struts.jar=${struts.lib}/struts.jar

# ----- Tyrex Data Source, version 0.9.7 -----
tyrex.home=${base.path}/tyrex-0.9.7.0
tyrex.lib=${tyrex.home}
tyrex.jar=${tyrex.lib}/tyrex-0.9.7.0.jar


# ----- Xerces XML Parser, version 1.4.3 or later -----
xerces.home=${base.path}/xerces-1_4_3
xerces.lib=${xerces.home}
xerces.jar=${xerces.lib}/xerces.jar


# ----- Commons DBCP, version 20011030 or later -----
commons-dbcp.home=${base.path}/commons-dbcp
commons-dbcp.lib=${commons-dbcp.home}
commons-dbcp.jar=${commons-dbcp.lib}/commons-dbcp.jar


# ----- Commons Pool, version 20011030 or later -----
commons-pool.home=${base.path}/commons-pool
commons-pool.lib=${commons-pool.home}
commons-pool.jar=${commons-pool.lib}/commons-pool.jar

