# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Tomcat
# for your local environment.  Make any changes you need, and rename this file
# to "build.properties" in the same directory that contains the top level
# "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------


# The directory containing your binary distribution of JAXP and its
# associated declarations.  You can customize the versions of JAXP used
# for Catalina and Jasper below.  If you are using JAXP/1.0, replace
# "crimson.jar" with "parser.jar"
jaxp.home=/usr/local/jaxp-1.1
jaxp.parser.jar=crimson.jar

# The version of JAXP that is used for Catalina
catalina.jaxp.home=${jaxp.home}
catalina.jaxp.parser.jar=${jaxp.parser.jar}

# The version of JAXP that is used for Jasper
jasper.jaxp.home=${jaxp.home}
jasper.jaxp.parser.jar=${jaxp.parser.jar}

# The directory containing your binary distribution of the Java Management
# Extensions (JMX) Reference Implementation, version 1.0 or later
jmx.home=/usr/local/jmx_ri_1.0

# The directory containing your binary distribution of the Java Naming and
# Directory Interface (JNDI), version 1.2.1 or later.  (You must also add
# "ldap.jar" into the ${jndi.home}/lib directory if you want to build and
# use JNDIRealm.)
jndi.home=/usr/local/jndi_1.2.1

# The directory containing your binary distribution of Java Secure Sockets
# Extension (JSSE), version 1.0.2 or later
jsse.home=/usr/local/jsse1.0.2

# The directory containing your binary distribution of the Jakarta
# regular expressions package (jakarta-regexp), version 1.2.
regexp.home=/usr/local/jakarta-regexp-1.2

# The directory containing your binary distribution of the Servlet 2.3
# and JSP 1.2 API classes
servletapi.home=/usr/local/jakarta-servletapi-4/dist

