<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <display-name>servlet-tests</display-name>
    <servlet>
        <servlet-name>
            Hello
        </servlet-name>
        <servlet-class>
            tests.HelloWorld
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetGenericServletConfig
        </servlet-name>
        <servlet-class>
            tests.GetGenericServletConfig
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetGenericServletInfo
        </servlet-name>
        <servlet-class>
            tests.GetGenericServletInfo
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetGenericServletInitParameterNames
        </servlet-name>
        <servlet-class>
            tests.GetGenericServletInitParameterNames
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetGenericServletContext
        </servlet-name>
        <servlet-class>
            tests.GetGenericServletContext
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RequestMethodGET
        </servlet-name>
        <servlet-class>
            tests.Headers.RequestMethodGET
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RequestMethodPOST
        </servlet-name>
        <servlet-class>
            tests.Headers.RequestMethodPOST
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RequestMethodHEAD
        </servlet-name>
        <servlet-class>
            tests.Headers.RequestMethodHEAD
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ContentType
        </servlet-name>
        <servlet-class>
            tests.Headers.ContentType
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ContentLength
        </servlet-name>
        <servlet-class>
            tests.Headers.ContentLength
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Scheme
        </servlet-name>
        <servlet-class>
            tests.Headers.Scheme
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Protocol
        </servlet-name>
        <servlet-class>
            tests.Headers.Protocol
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RemoteAddress
        </servlet-name>
        <servlet-class>
            tests.Headers.RemoteAddress
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RemoteHost
        </servlet-name>
        <servlet-class>
            tests.Headers.RemoteHost
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServerName
        </servlet-name>
        <servlet-class>
            tests.Headers.ServerName
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServerPort
        </servlet-name>
        <servlet-class>
            tests.Headers.ServerPort
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Empty
        </servlet-name>
        <servlet-class>
            tests.PathInfo.Empty
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            PathInfo
        </servlet-name>
        <servlet-class>
            tests.PathInfo.PathInfo
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServletPath
        </servlet-name>
        <servlet-class>
            tests.PathInfo.ServletPath
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            NullPathTranslated
        </servlet-name>
        <servlet-class>
            tests.PathInfo.NullPathTranslated
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            PathTranslated
        </servlet-name>
        <servlet-class>
            tests.PathInfo.PathTranslated
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            QueryEmpty
        </servlet-name>
        <servlet-class>
            tests.QueryString.Empty
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            JustName
        </servlet-name>
        <servlet-class>
            tests.QueryString.JustName
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            NameValuePair
        </servlet-name>
        <servlet-class>
            tests.QueryString.NameValuePair
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameter
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameter
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameterValuesEmpty
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameterValuesEmpty
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameterValuesOne
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameterValuesOne
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameterValuesMany
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameterValuesMany
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameterValuesEscape
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameterValuesEscape
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            GetParameterNames
        </servlet-name>
        <servlet-class>
            tests.QueryString.GetParameterNames
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Simple
        </servlet-name>
        <servlet-class>
            tests.POST.Simple
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Serialized
        </servlet-name>
        <servlet-class>
            tests.POST.Serialized
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            Id
        </servlet-name>
        <servlet-class>
            tests.Session.Id
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            IsNew
        </servlet-name>
        <servlet-class>
            tests.Session.IsNew
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            CreationTime
        </servlet-name>
        <servlet-class>
            tests.Session.CreationTime
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            InvalidateBasic
        </servlet-name>
        <servlet-class>
            tests.Session.InvalidateBasic
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            NoCookie
        </servlet-name>
        <servlet-class>
            tests.Session.NoCookie
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ReadCookie
        </servlet-name>
        <servlet-class>
            tests.Session.ReadCookie
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ReadCookieValueContainsEqual
        </servlet-name>
        <servlet-class>
            tests.Session.ReadCookieValueContainsEqual
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ReadMultipleCookies
        </servlet-name>
        <servlet-class>
            tests.Session.ReadMultipleCookies
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            SetCookie
        </servlet-name>
        <servlet-class>
            tests.Session.SetCookie
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            SetCookieMaxAge
        </servlet-name>
        <servlet-class>
            tests.Session.SetCookieMaxAge
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            SetCookieMaxAge
        </servlet-name>
        <url-pattern>
            /SetCookieMaxAge
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetGenericServletConfig
        </servlet-name>
        <url-pattern>
            /GetGenericServletConfig
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetGenericServletInfo
        </servlet-name>
        <url-pattern>
            /GetGenericServletInfo
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetGenericServletInitParameterNames
        </servlet-name>
        <url-pattern>
            /GetGenericServletInitParameterNames
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetGenericServletContext
        </servlet-name>
        <url-pattern>
            /GetGenericServletContext
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RequestMethodGET
        </servlet-name>
        <url-pattern>
            /RequestMethodGET
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RequestMethodPOST
        </servlet-name>
        <url-pattern>
            /RequestMethodPOST
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RequestMethodHEAD
        </servlet-name>
        <url-pattern>
            /RequestMethodHEAD
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ContentType
        </servlet-name>
        <url-pattern>
            /ContentType
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ContentLength
        </servlet-name>
        <url-pattern>
            /ContentLength
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Scheme
        </servlet-name>
        <url-pattern>
            /Scheme
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Protocol
        </servlet-name>
        <url-pattern>
            /Protocol
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RemoteAddress
        </servlet-name>
        <url-pattern>
            /RemoteAddress
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RemoteHost
        </servlet-name>
        <url-pattern>
            /RemoteHost
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServerName
        </servlet-name>
        <url-pattern>
            /ServerName
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServerPort
        </servlet-name>
        <url-pattern>
            /ServerPort
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Empty
        </servlet-name>
        <url-pattern>
            /Empty
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            PathInfo
        </servlet-name>
        <url-pattern>
            /PathInfo/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServletPath
        </servlet-name>
        <url-pattern>
            /ServletPath/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            NullPathTranslated
        </servlet-name>
        <url-pattern>
            /NullPathTranslated
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            PathTranslated
        </servlet-name>
        <url-pattern>
            /PathTranslated/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            QueryEmpty
        </servlet-name>
        <url-pattern>
            /QueryEmpty/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            JustName
        </servlet-name>
        <url-pattern>
            /JustName
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            NameValuePair
        </servlet-name>
        <url-pattern>
            /NameValuePair
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameter
        </servlet-name>
        <url-pattern>
            /GetParameter
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameterValuesEmpty
        </servlet-name>
        <url-pattern>
            /GetParameterValuesEmpty
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameterValuesOne
        </servlet-name>
        <url-pattern>
            /GetParameterValuesOne
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameterValuesMany
        </servlet-name>
        <url-pattern>
            /GetParameterValuesMany
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameterValuesEscape
        </servlet-name>
        <url-pattern>
            /GetParameterValuesEscape
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            GetParameterNames
        </servlet-name>
        <url-pattern>
            /GetParameterNames
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Simple
        </servlet-name>
        <url-pattern>
            /Simple
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Serialized
        </servlet-name>
        <url-pattern>
            /Serialized
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Id
        </servlet-name>
        <url-pattern>
            /Id
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            IsNew
        </servlet-name>
        <url-pattern>
            /IsNew
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            CreationTime
        </servlet-name>
        <url-pattern>
            /CreationTime
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            InvalidateBasic
        </servlet-name>
        <url-pattern>
            /InvalidateBasic
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            NoCookie
        </servlet-name>
        <url-pattern>
            /NoCookie
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ReadCookie
        </servlet-name>
        <url-pattern>
            /ReadCookie
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ReadCookieValueContainsEqual
        </servlet-name>
        <url-pattern>
            /ReadCookieValueContainsEqual
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ReadMultipleCookies
        </servlet-name>
        <url-pattern>
            /ReadMultipleCookies
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            SetCookie
        </servlet-name>
        <url-pattern>
            /SetCookie
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            Hello
        </servlet-name>
        <url-pattern>
            /HelloWorld
        </url-pattern>
    </servlet-mapping>
</web-app>
